<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
    <link rel="stylesheet" href="{{ 'styles/main.css' | asset_url }}">
    <script src="{{ 'scripts/main.js' | asset_url }}"></script>
</head>
<body role = "main">
    <header>
        <h1>{{ shop.name }}</h1>
        <nav>
            <!-- Add navigation links here -->
        </nav>
    </header>
    <main>
        {{ content_for_layout }}
    </main>
    <footer>
        <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</p>
    </footer>
</body>
</html>