<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
    <link rel="stylesheet" href="{{ 'styles/main.css' | asset_url }}">
    <script src="{{ 'scripts/main.js' | asset_url }}"></script>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    {{ content_for_header }}
  </head>
  <body role="main">
    <header>
      <h1 class="container mx-auto px-20 py-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 inline-block mr-2">
          <path fill="currentColor" d="M12 2c-4.97 0-9 4.03-9 9s4.03 9 9 9 9-4.03 9-9-4.03-9-9-9zm0 16.2c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm0-10.8c-1.77 0-3.2 1.43-3.2 3.2s1.43 3.2 3.2 3.2 3.2-1.43 3.2-3.2-1.43-3.2-3.2-3.2z"/>
        </svg>
        <span class="text-xl font-bold">{{ 'general.home' | t }}</span>
      </h1>
      <nav class="container mx-auto px-20 py-3">
        <div class="flex items-center justify-between">
          <div>
            <a class="text-white text-xl font-bold" href="{{ shop.url }}">{{ shop.name }}</a>
          </div>
          <div class="flex items-center">
            {% for link in linklists['main-menu'].links %}
              <a
                class="text-gray-300 hover:text-white px-3 py-2 {{ link.active ? 'text-white font-bold' : '' }}"
                href="{{ link.url }}"
              >
                {{- link.title -}}
              </a>
            {% endfor %}
          </div>
        </div>
      </nav>
    </header>
    <main class="container mx-auto px-20">
      {{ content_for_layout }}
    </main>
    <footer class="container mx-auto px-20 py-3">
      <p>
        &copy; {{ 'now' | date: '%Y' }}
        {{ shop.name }}
      </p>
    </footer>
  </body>
</html>
